<p id="notice"><%= notice %></p>

<h1>My Outstanding Invites</h1>

<table>
  <thead>
    <tr>
      <th>From</th>
      <th>Event</th>

      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @invites.each do |invite| %>
      <tr>
        <td><%= User.where(id: invite.sender_id).first.email %></td>
        <td><%= invite.event.name %></td>
        <td><%= button_to "Accept", event_guestships_path(invite.event), :method => :post%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
