<div class="jumbotron">
<h1>LoserParty</h1>
<h3>Finally, a party of losers</h3>
<p>Create party invitations with LoserParty. Assign each guest a value, and assign your party a minimum score to meet. If enough guests with enough value meet the score, the party is on!</p>
</div>
