<p id="notice"><%= notice %></p>

<h1>Guestships</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Event</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @guestships.each do |guestship| %>
      <tr>
        <td><%= guestship.user.email %></td>
        <td><%= guestship.event.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
