@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .container {
   margin: auto;
   width: 50%;
   padding: 10px;
 }

 table {
   width: 100%;
 }

body {
  font-family: "brandon-grotesque", sans-serif;
}

.navbar {
    background-color: #882B93;
}

a {
  transition: 0.3s;
  color: #F4E7E7;
}

a:hover {
  color: #ED3ABD;
  text-decoration: none;
}

a:active {
  color: #ED3ABD;
  text-decoration: none;
}

.reverse {
  transition: 0.3s;
  color: #ED3ABD;
}

.reverse:hover {
  color:   #882B93;
  text-decoration: none;
}

.partyon {
  transition: 0.3s;
  color: #882B93;
}

.partyon:hover {
  color: #F4E7E7;
  text-decoration: none;
}

table {
  white-space: nowrap;
  border: none;
}
